<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <header>
        <h1>BulloRide</h1>
    </header>

    

    <main>
        <section>
            <h2>About Us</h2>
            <p>Baga gara BulloRide, michuu geejjibaa amanamaa fi gahumsa qabutti dhuftan.<br> BulloRide keessatti, ogummaa fi itti quufinsa maamiltootaaf kutannoo qabannee<br> tajaajila taaksii sadarkaa olaanaa kennuudhaaf kutannoo guddaadhan kaanerra</p>
            <p>Muuxannoo imala keessan akka gammachiisaa, mijataa fi yaadatamu gochuuf of kennine isin tajaajilla.</p>
        </section>
    </main>

    <footer>
         BulloRide 2023.
    </footer>
</body>
</html>