<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="style.css">
    <style>.profile-container {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .profile-picture {
        border-radius: 50%;
        max-width: 150px;
        margin-bottom: 20px;
    }

    .profile-details {
        margin-bottom: 20px;
    }</style>
</head>
<body>
    
    <header>
        <h1>BulloRide</h1>
    </header>
    <main>
        <section class="profile-container">
            <img src="535A6475.jpg" alt="Profile Picture" class="profile-picture">
            <div class="profile-details">
                <h2>Marara Olkeba</h2>
                <p>Phone: 0935079453</p>
                <p>Email: mraraolkeba@gmail.com</p>
                <p>Location: Nekemte, Oromia</p>
                <!-- Add more profile details as needed -->
            </div>
        </section>
    </main>

    <footer>
       BulloRide 2023.
    </footer>


</body>
</html>