<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mesage</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body class="body">
    <div class="form-container">
        <h2><%= info %></h2>
        <form action="/sucessSignup" method="post">
            
        </form>
       
    </div>
</body>
</html>